[submodule "api/webbluetooth"]
	path = api/webbluetooth
	url = https://github.com/Affirmatech/webbluetooth.git
[submodule "api/meshtastic-js"]
	path = api/meshtastic-js
	url = https://github.com/Affirmatech/meshtastic-js.git
